.game
{
	width: 800px;
	height: 100vh;
	background-color: #000;
	z-index: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	border-left: 5px solid #000;
	border-right: 5px solid #000;
	filter: drop-shadow(5px 0px 10px #000);
}

.grid
{
	display: grid;
	justify-items: center;
	align-content: center;
}

.blocks
{
	width: fit-content;
	padding: 0;
	flex-grow: 1;
	grid-gap: 2px;
}

.block
{
	width: 50px;
	height: 50px;
	border-radius: 5px;
	box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.unrevealed
{
	background: #fff;
}

.revealed
{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2em;
	color: #000;
	text-shadow: none;
	background-color: gray;
}

.flag
{
	background: url('../assets/flag.png') no-repeat;
	background-size: 80%;
	background-position: center;
	background-color: #fff;
}

.mine
{
	background: url('../assets/bomb.png') no-repeat;
	background-size: 80%;
	background-position: center;
	background-color: #fff;
}

.red_bomb
{
	background: url('../assets/bomb.png') no-repeat;
	background-color: red;
	background-size: cover;
}

.n1{background-color: var(--color-1)}
.n2{background-color: var(--color-2)}
.n3{background-color: var(--color-3)}
.n4{background-color: var(--color-4)}
.n5{background-color: var(--color-5)}
.n6{background-color: var(--color-6)}
.n7{background-color: var(--color-7)}
.n8{background-color: var(--color-8)}

.unrevealed:hover,.flag:hover
{
	background-color: #adadad;
}
.unrevealed.bomb:hover
{
	background-color: #fff;
}

.score
{
	background: url('../assets/dirt.jpg');
	background-size: 20vh;
	height: 100px;
	box-shadow: inset 0px 0px 10px 1px #000;
}

#flags_score img, #time img
{
	width: 50px;
	height: 50px;
	filter: drop-shadow(0px 0px 5px #fff);
}
#flags_score, #time, #highscore
{
	padding: 0;
	justify-content: center;
	gap: 10px;
	width: 220px;
	font-size: 1.4em;
}
.score
{
	justify-content: center;
}
#announcement
{
	display: none;
	flex-direction: column;
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	font-size: 3em;
	color: #fff;
	background-color: rgba(0, 0, 0, .6);
	text-align: center;
}
#rs_container
{
	justify-content: center;
	gap: 10px;
	margin: 50px 0;
}
#rs_container label
{
	width: fit-content;
	margin: 0px 10px;
	font-size: .9em;
}
#restart
{
	height: 50px;
	width: 50px;
	border: none;
	outline: none;
	background: url('../assets/restart.png');
	background-size: cover;
	filter: drop-shadow(5px 5px 10px #000);
}
.yellow
{
	color: yellow;
}
@media (width <= 800px)
{
	.game
	{
		width: 100vw;
	}
	#flags_score, #time, #highscore
	{
		padding: 0;
		justify-content: center;
		gap: 0;
		width: 150px;
		font-size: 1.1em;
	}
	#flags_score img, #time img
	{
		width: 40px;
		height: 40px;
		filter: drop-shadow(0px 0px 3px #fff);
	}
	
}